#{$biz-css-prefix}form-item-bubble {
  position: relative;
  padding-top: 8px;

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 7px solid #f4f5f8;
    border-bottom: 7px solid var(--color-fill1-2, #f4f5f8);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    top: 1px;
    left: 20px;
  }
}
