$carbon: #7e848c;
$red: #ff5252;
$green: #4caf50;
$amber: #ffc107;
$blue: #2196f3;

$barcolor: #3e86ff;
$border-color: rgba(0, 0, 0, 0.12);
$tap-color: rgba(0, 0, 0, .7);
$color: #666666;
$body_color: #666666;

$header-height: 1.493333rem;
$bar-height: 1.28rem;
