/* write style here */

.Aomao_nav{

    overscroll-behavior: contain;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-top-color: rgb(229 231 235 / var(--tw-border-opacity));
    border-bottom-color: rgb(229 231 235 / var(--tw-border-opacity));
    padding: 0.5rem;
}
.Aomao_content {
max-width: 720px;
    margin: 0 auto;
    border: 1px dotted silver;
    height: 100vh;
    margin-top: 20px;
    border-color: rgb(229, 231, 235);
    padding: 30px;
    box-sizing: border-box;

}
.Aomao_loading{
    width: 100%;
}